.page-container {
  height: 100%;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 24px;
}

.input-image {
  display: none;
}

.options {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.upload-label {
  width: 132px;
  height: 164px;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--color-grayscale-6);
  border: 1.5px solid var(--color-grayscale-7);
  border-radius: 10px;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--color-grayscale-3);
}

.preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  height: 100%;
}

.test {
  overflow-y: auto;
}

/* Responsive */
@media (max-width: 320px) {
  label {
    font-size: 15px;
  }
}
