/* surveyStart.css */

.surveyStartContainer {
  width: 100%;
  background-color: black;
}

.survey-bubble {
  top: 32px !important;
  left: 16px !important;
  width: 328px !important;
  height: 86px !important;
}

.surveyTitle {
  padding: 16px 16px 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500 !important;
  color: black;
}

.survey-form-area {
  /* 초기 화면에서는 내용이 비어있으므로 높이는 무시해도 되지만, 레이아웃을 위해 설정 */
  padding: 10px 16px 0;

  /* height: calc(100% - 56px);  */
  color: black;
}

/* -------------------- 4. 시작/스킵 버튼 (절대 위치 고정 및 크기 일치) -------------------- */

/* 버튼 컨테이너 (너비 328px 고정) */
.skipButtonContainer,
.startButtonContainer {
  position: absolute;
  left: 16px;
  z-index: 25;
  box-sizing: border-box;
  width: 328px;
  margin: 0 auto;
}

/* Skip to learning 버튼 (가장 하단 고정) */
.skipButtonContainer {
  bottom: 16px;
  height: 40px;
}

/* ⭐️ Start 버튼 컨테이너 (Skip 버튼 위에 위치) */
.startButtonContainer {
  /* Skip 버튼 bottom 16px + Skip 버튼 height 40px + 16px 간격 = 72px */
  bottom: 72px;
}

/* Skip/Start learning 버튼 크기 일치 */
.skipButton,
.startButton {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 12px !important;
  font-weight: 600 !important;
  color: black;
  cursor: pointer;
  background-color: #fff;
  border: none;
  border-radius: 10px;
}


