.main {
  display: flex;
  justify-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(16, 16, 16, 1);
}

@media (min-width: 600px) {
  .main {
    max-width: 360px;
    height: 720px;
    min-height: auto;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  }
}
