.textarea {
  height: 80px;
  padding: 8px;
  font-size: 13px;
  line-height: 22px;
  color: var(--color-grayscale-1);
  resize: none;
  background-color: var(--color-grayscale-6);
  border: 1.5px solid var(--color-grayscale-7);
  border-radius: 10px;
}
