.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--color-grayscale-6);
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.buttons {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.buttons > a {
  width: 100%;
}

.button {
  width: 100%;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  color: var(--color-grayscale-1);
  background-color: var(--color-grayscale-5);
  border-radius: 10px;
  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(1.3);
}
