/* 하단 섹션 */
.content-window {
  position: absolute;
  top: 290px;
  box-sizing: border-box;
  width: 100%;
  height: 430px;
  padding: 0;
  overflow: hidden;
  color: var(--color-grayscale-7);
  background-color: #ff5000;
  border-radius: 15px 15px 0 0;
}
