:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */

  --color-grayscale-1: rgb(255 255 255 / 100%);
  --color-grayscale-2: rgb(227 227 227 / 100%);
  --color-grayscale-3: rgb(117 117 117 / 100%);
  --color-grayscale-4: rgb(72 72 72 / 100%);
  --color-grayscale-5: rgb(27 27 27 / 100%);
  --color-grayscale-6: rgb(16 16 16 / 100%);
  --color-grayscale-7: rgb(0 0 0 / 100%);
  --color-primary-orange: rgb(255 80 0 / 100%);
  --color-primary-blue: rgb(0 124 255 / 100%);
  --color-primary-green: rgb(57 255 20 / 100%);
  --color-primary-pink: rgb(251 20 255 / 100%);
  --color-primary-red: rgb(255 0 0 / 100%);
  --drop-shadow: 0px 0px 30px 0px rgb(0 0 0 / 40%);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--color-grayscale-6);
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
}

ol,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

/** typography  */
.h1 {
  font-size: 18px;
  font-weight: normal;
  line-height: 150%;
  letter-spacing: 0;
}

.h2 {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0;
}

.p1 {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
}

.p2 {
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0;
}

.p3 {
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0;
}
