/*for rolePlay design*/

/*로그인아웃 버튼, 상단섹션크기, 하단섹션 크기, 말풍선 위치, 캐릭터 위치&크기*/

.app-container {
  background-color: black;
}

/*상단 섹션 - tsx파일에 존재하지않으면 header-section으로 상단섹션 묶기*/
.header-section {
  position: relative;
  height: 300px;
  width: 100%;
}

/*로그아웃 버튼*/
.logout {
  width: 100%;
  height: 32px;
  padding-top: 10px;
  padding-left: 286px;
  background-color: transparent;
  border: none;
  color: #757575;
  font-size: 13px;
  cursor: pointer;
}

/*말풍선 - 글자 크기에 따라 따로 변경 가능*/
.speech-bubble {
  position: absolute;
  display: flex; /* Flexbox 활성화 */
  align-items: center; /* 수직(세로) 중앙 정렬 */
  justify-content: center; /* 수평(가로) 중앙 정렬 */

  background-color: #ff5000;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  color: black;
  text-align: center;
  z-index: 10;
}

.speech-tail {
  position: absolute;
  width: 28px;
  height: 28px;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
  background-color: #ff5000;
}

/*캐릭터 이미지*/
.character-placeholder {
  display: contents;
}

.character-icon {
  width: 92px;
  height: 124px;
  top: 140px;
  left: 134px;
  aspect-ratio: auto;
  object-fit: contain;
  position: absolute;
}

/*하단 섹션*/
.role-content-window {
  position: absolute;
  width: 100%;
  height: 430px;
  top: 290px;
  background-color: #007cff;
  color: black;
  border-radius: 15px 15px 0 0;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
}
