.section {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 60vh;
  padding: 16px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.section.orange {
  background-color: var(--color-primary-orange);
}

.section.blue {
  background-color: var(--color-primary-blue);
}

.section.green {
  background-color: var(--color-primary-green);
}

.section.pink {
  background-color: var(--color-primary-pink);
}

@media (min-width: 600px) {
  .section {
    position: absolute;
    bottom: 0;
    height: 430px;
  }
}
