.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container.is-full {
  width: 100%;
}

.select-container {
  position: relative;
  display: flex;
}

.select {
  width: 100%;
  height: 40px;
  padding: 8px 30px 8px 8px;
  font-size: 13px;
  line-height: 24px;
  color: var(--color-grayscale-1);
  appearance: none;
  background-color: var(--color-grayscale-6);
  border: 1.5px solid var(--color-grayscale-7);
  border-radius: 10px;
}

.icon {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  color: var(--color-grayscale-3);
  transform: translateY(-50%);
}
