.page {
  height: 100%;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 60vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.title {
  font-size: 18px;
  font-weight: normal;
}

.item.profile .title {
  padding: 16px;
}

.item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: grid-template-rows 0.3s ease;
}

.panel {
  display: grid;
  grid-template-rows: 0fr;
  height: 100%;
  transition: grid-template-rows 0.3s ease, height 0.2s ease;
}

.learn .panel {
  transition: none;
}

.panel.is-open {
  grid-template-rows: 1fr;
}

.nav[data-open='role'] .role .panel {
  height: calc(60vh - 52px - 52px - 52px); /* 각 nav의 header 높이 */
}

.nav[data-open='profile'] .title {
  display: none;
}

.nav[data-open='profile'] .profile .panel {
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

.learn {
  top: 0;
  padding-bottom: calc(
    52px * 2 + 32px
  ); /* role, profile header * 2 + 추가 여백 */

  background-color: var(--color-primary-orange);
}

.role {
  padding-bottom: calc(52px + 16px); /* profile header + 추가 여백 */
  background-color: var(--color-primary-blue);
}

.profile {
  padding: 0;
  background-color: var(--color-primary-pink);
}

@media (min-width: 600px) {
  .nav {
    position: absolute;
    bottom: 0;
    height: 430px;
  }

  .nav[data-open='role'] .role .panel {
    height: 276px;
  }

  .nav[data-open='profile'] .profile .panel {
    height: 720px;
  }
}
