.aside {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  background-color: rgb(0 0 0 / 60%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  background-color: var(--color-primary-blue);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: var(--drop-shadow);
}

@media (min-width: 600px) {
  .aside {
    position: absolute;
    height: 430px;
  }
}
