.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 32px;
}

.header.between {
  justify-content: space-between;
}

.back-button {
  padding: 6px;
}

.back-button svg {
  transition: fill 0.2s;
}

.back-button:hover svg {
  fill: var(--color-grayscale-1);
}

.logout-button {
  color: var(--color-grayscale-3);
  transition: color 0.2s;
}

.logout-button:hover {
  color: var(--color-grayscale-1);
}
