.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  background-color: var(--color-primary-blue);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 36px 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
