.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  background-color: var(--color-primary-blue);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 36px 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.title {
  display: inline-block;
  margin-bottom: 8px;
}

.box {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 13px;
  line-height: 24px;
  color: var(--color-grayscale-1);
  background-color: var(--color-grayscale-6);
  border: 1px solid var(--color-grayscale-7);
  border-radius: 10px;
}
