.section {
  max-height: calc(60vh - 16px);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 8px;
  overflow-y: auto;
}

.area {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 16px;
  line-height: 24px;
}

.options {
  display: flex;
  gap: 8px;
}

@media (min-width: 600px) {
  .section {
    height: calc(430px - 16px);
  }
}
