.box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  color: var(--color-grayscale-6);
}

.text {
  height: 40px;
  padding: 8px;
  font-size: 13px;
  line-height: 24px;
  color: var(--color-grayscale-1);
  background-color: var(--color-grayscale-6);
  border: 1.5px solid var(--color-grayscale-7);
  border-radius: 10px;
}
