.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.page-container.is-Join {
  justify-content: flex-start;
}

.mascot-container {
  position: relative;
  top: 30px;
}

.button-wrap {
  padding: 0 16px 16px;
}
