.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.page-container.is-Join {
  justify-content: flex-start;
}

.mascot-container {
  position: relative;
  top: 30px;
}

.button-wrap {
  padding: 0 16px 16px;
}

.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 16px;
}

.select {
  width: 100%;
  height: 40px;
  padding: 8px;
  font-size: 13px;
  line-height: 24px;
  color: var(--color-grayscale-1);
  background-color: var(--color-grayscale-6);
  border: 1.5px solid var(--color-grayscale-7);
  border-radius: 10px;
}

.label {
  display: block;
  margin-bottom: 8px;
}

.time {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px;
  font-size: 13px;
  line-height: 24px;
  color: var(--color-grayscale-1);
  background-color: var(--color-grayscale-6);
  border: 1.5px solid var(--color-grayscale-7);
  border-radius: 10px;
}

.pay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffeb00 !important;
}

.pay img {
  height: 20px;
}
