.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.mascot-container {
  position: relative;
  top: 30px;
}

.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 16px;
}

.days-left {
  font-size: 10px;
  color: var(--color-primary-red);
}

.message {
  margin: 36px 0 50px;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 16px;
}
