.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.mascot-container {
  position: relative;
  top: 30px;
}

.content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 16px;
}

.select {
  width: 100%;
  height: 40px;
  padding: 8px;
  font-size: 13px;
  line-height: 24px;
  color: var(--color-grayscale-1);
  background-color: var(--color-grayscale-6);
  border: 1.5px solid var(--color-grayscale-7);
  border-radius: 10px;
}

.label {
  display: block;
  margin-bottom: 8px;
}

.time {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px;
  font-size: 13px;
  line-height: 24px;
  color: var(--color-grayscale-1);
  background-color: var(--color-grayscale-6);
  border: 1.5px solid var(--color-grayscale-7);
  border-radius: 10px;
}

.days-left {
  font-size: 10px;
  color: var(--color-primary-red);
}

.aside {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  background-color: rgb(0 0 0 / 60%);
}

.modal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  background-color: var(--color-primary-orange);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: var(--drop-shadow);
}

.message {
  margin: 36px 0 50px;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 16px;
}

@media (min-width: 600px) {
  .aside {
    position: absolute;
    height: 430px;
  }
}
