.page {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--color-grayscale-6);
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (min-width: 600px) {
  .page {
    max-width: 360px;
    height: 720px;
  }
}
